.main .content {
  min-height: 300vh;
  /*background-color: #f8e1fc;*/
  position: relative;
  margin-top: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main .left {
  width: 50%;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .left .inner {
  padding: 30px;
  background-color: #f8e1fc;
  border-radius: 50px;
  max-width: 60%;
  color: #111
}
