.logo, .logo:after, .logo:before {
  width: 50px;
  height: 50px;
  border: solid 3px hotpink;
  position: relative;
  border-radius: 50%;
  background-color: #f8e1fc;
}

.logo:after, .logo:before {
  width: 25px;
  height: 25px;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo:before {
  width: 4px;
  z-index: 9;
  height: 4px;
  background-color: hotpink;
}
