header.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 99;
}

.inner {
  /*border: solid 1px #fff;*/
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 70px;
  margin: auto;
  padding: 5px;
}
